
@{
    ViewBag.Title = "Index";
}
@using WebApplication4.Models

@model List<Tedarikciler>

@section body
    {
    <div class="modal fade small-modal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="small-modal-label">Silme izni</h4>
                </div>
                <div class="modal-body">
                    <p> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-danger tedSil">Sil</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}


<div class="row">
    <div class=" col-lg-12">
        <div class="block" style="overflow-x:scroll">
            <div class="block-heading">
                <div class="main-text">
                    Tedarikciler
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                    <a href="/Tedarikci/Ekle" class="btn btn-success">Yeni Tedarikci</a>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Şirket Adı </th>
                                    <th>Müşteri Adı</th>
                                    <th>Musteri Unvani</th>
                                    <th>Adres</th>
                                    <th>Sehir</th>
                                    <th>Bolge</th>
                                    <th>PostaKodu</th>
                                    <th>Ulke</th>
                                    <th>Telefon</th>
                                    <th>Faks</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Tedarikciler tdr in Model)
                                {
                                    <tr>
                                        <td>@tdr.SirketAdi</td>
                                        <td>@tdr.MusteriAdi</td>
                                        <td>@tdr.MusteriUnvani</td>
                                        <td>@tdr.Adres</td>
                                        <td>@tdr.Sehir</td>
                                        <td>@tdr.Bolge</td>
                                        <td>@tdr.PostaKodu</td>
                                        <td>@tdr.Ulke</td>
                                        <td>@tdr.Telefon</td>
                                        <td>@tdr.Faks</td>

                                        <td>
                                        </td>
                                        <td><a href="/tedarikci/guncelle/@tdr.TedarikciID" class="btn btn-primary">Güncelle</a></td>
                                        <td>
                                            <button class="btn btn-danger modalAc" data-toggle="modal" data-target="#small-modal" data-sirketadi="@tdr.SirketAdi" data-id="@tdr.TedarikciID">
                                                Sil
                                            </button>@*<a href="#" class="btn btn-danger tdrsil" data-tedid="@tdr.TedarikciID">Sil</a>*@
                                        </td> @*burada data- den sonra istediğimiz adı verebilir ve içinde değer saklayabiliriz. burada kategori id yi sakladık.*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {

    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script>
        $(".modalAc").click(function () {
            
            var sirketAdi = $(this).data("sirketadi");
            
            $(".modal-body>p").html(sirketAdi + " tedarikcisi silinsin mi?");
            var id = $(this).data("id");
            $(".tedSil").data("id", id);
        });
        $(".tedSil").click(function () {
            var id = $(this).data("id");
            
            $.ajax({
                type: "POST",
                url: "/Tedarikci/Sil/" + id,
                success: function (durum)/*buradaki "durum" controller daki try catch i kontrol edecek*/
                {
                    if (durum == "ok") {
                        window.location.replace("/Tedarikci/Index");
                    }
                    else
                    {
                        $(".modal-body>p").html("Silme işleminde hata oluştuu.")
                    }
                    
                        
                    
                }
            });
        });

        
    </script>

}